$body: white;
$a: none;

// Flagga
$flag-swe-color-1: rgb(0, 106, 167); // Blå
$flag-swe-color-2: rgb(254, 204, 0); // Gul

// Pokeball
$pb_top: rgb(255, 90, 90);
$pb_btm: rgb(255, 255, 255);
$pb_line_clr: black;