// Zelda
$heart__one: 
"t", "t", "t", "t", "t", "t", "t", "t",
"t", "b", "b", "t", "b", "b", "t", "t",
"b", "r", "r", "b", "r", "r", "b", "t",
"b", "r", "r", "r", "r", "r", "b", "t",
"t", "b", "r", "r", "r", "b", "t", "t",
"t", "t", "b", "r", "b", "t", "t", "t",
"t", "t", "t", "b", "t", "t", "t", "t",
"t", "t", "t", "t", "t", "t", "t", "t";

$heart__two: 
"t", "t", "t", "t", "t", "t", "t", "t",
"t", "b", "b", "t", "b", "b", "t", "t",
"b", "r", "r", "b", "w", "w", "b", "t",
"b", "r", "r", "r", "w", "w", "b", "t",
"t", "b", "r", "r", "w", "b", "t", "t",
"t", "t", "b", "r", "b", "t", "t", "t",
"t", "t", "t", "b", "t", "t", "t", "t",
"t", "t", "t", "t", "t", "t", "t", "t";

$heart__three: 
"t", "t", "t", "t", "t", "t", "t", "t",
"t", "b", "b", "t", "b", "b", "t", "t",
"b", "w", "w", "b", "w", "w", "b", "t",
"b", "w", "w", "w", "w", "w", "b", "t",
"t", "b", "w", "w", "w", "b", "t", "t",
"t", "t", "b", "w", "b", "t", "t", "t",
"t", "t", "t", "b", "t", "t", "t", "t",
"t", "t", "t", "t", "t", "t", "t", "t";

// Mushrooms
$shroom__one:
"t", "t", "t", "t", "t", "t", "t", "b", "b", "b", "b", "b", "b", "t", "t", "t", "t", "t", 
"t", "t", "t", "t", "t", "b", "b", "w", "w", "g", "g", "w", "w", "b", "b", "t", "t", "t", 
"t", "t", "t", "t", "b", "w", "w", "w", "g", "g", "g", "g", "w", "w", "w", "b", "t", "t", 
"t", "t", "t", "b", "g", "g", "g", "g", "g", "g", "g", "g", "g", "g", "g", "g", "b", "t", 
"t", "t", "t", "b", "g", "g", "g", "g", "g", "g", "g", "g", "g", "g", "g", "g", "b", "t", 
"t", "t", "b", "w", "g", "g", "g", "g", "w", "w", "w", "w", "g", "g", "g", "g", "w", "b", 
"t", "t", "b", "w", "w", "g", "g", "w", "w", "w", "w", "w", "w", "g", "g", "w", "w", "b", 
"t", "t", "b", "w", "w", "g", "g", "w", "w", "w", "w", "w", "w", "g", "g", "w", "w", "b", 
"t", "t", "b", "w", "g", "g", "g", "g", "w", "w", "w", "w", "g", "g", "g", "g", "w", "b", 
"t", "t", "b", "g", "g", "g", "g", "g", "g", "g", "g", "g", "g", "g", "g", "g", "g", "b", 
"t", "t", "b", "g", "g", "g", "b", "b", "b", "b", "b", "b", "b", "b", "g", "g", "g", "b", 
"t", "t", "t", "b", "b", "b", "s", "s", "b", "s", "s", "b", "s", "s", "b", "b", "b", "t", 
"t", "t", "t", "t", "b", "s", "s", "s", "b", "s", "s", "b", "s", "s", "s", "b", "t", "t", 
"t", "t", "t", "t", "b", "s", "s", "s", "s", "s", "s", "s", "s", "s", "s", "b", "t", "t", 
"t", "t", "t", "t", "t", "b", "s", "s", "s", "s", "s", "s", "s", "s", "b", "t", "t", "t",
"t", "t", "t", "t", "t", "t", "b", "b", "b", "b", "b", "b", "b", "b", "t", "t", "t", "t";

$shroom__two:
"t", "t", "t", "t", "t", "t", "t", "b", "b", "b", "b", "b", "b", "t", "t", "t", "t", "t", 
"t", "t", "t", "t", "t", "b", "b", "w", "w", "r", "r", "w", "w", "b", "b", "t", "t", "t", 
"t", "t", "t", "t", "b", "w", "w", "w", "r", "r", "r", "r", "w", "w", "w", "b", "t", "t", 
"t", "t", "t", "b", "r", "r", "r", "r", "r", "r", "r", "r", "r", "r", "r", "r", "b", "t", 
"t", "t", "t", "b", "r", "r", "r", "r", "r", "r", "r", "r", "r", "r", "r", "r", "b", "t", 
"t", "t", "b", "w", "r", "r", "r", "r", "w", "w", "w", "w", "r", "r", "r", "r", "w", "b", 
"t", "t", "b", "w", "w", "r", "r", "w", "w", "w", "w", "w", "w", "r", "r", "w", "w", "b", 
"t", "t", "b", "w", "w", "r", "r", "w", "w", "w", "w", "w", "w", "r", "r", "w", "w", "b", 
"t", "t", "b", "w", "r", "r", "r", "r", "w", "w", "w", "w", "r", "r", "r", "r", "w", "b", 
"t", "t", "b", "r", "r", "r", "r", "r", "r", "r", "r", "r", "r", "r", "r", "r", "r", "b", 
"t", "t", "b", "r", "r", "r", "b", "b", "b", "b", "b", "b", "b", "b", "r", "r", "r", "b", 
"t", "t", "t", "b", "b", "b", "s", "s", "b", "s", "s", "b", "s", "s", "b", "b", "b", "t", 
"t", "t", "t", "t", "b", "s", "s", "s", "b", "s", "s", "b", "s", "s", "s", "b", "t", "t", 
"t", "t", "t", "t", "b", "s", "s", "s", "s", "s", "s", "s", "s", "s", "s", "b", "t", "t", 
"t", "t", "t", "t", "t", "b", "s", "s", "s", "s", "s", "s", "s", "s", "b", "t", "t", "t",
"t", "t", "t", "t", "t", "t", "b", "b", "b", "b", "b", "b", "b", "b", "t", "t", "t", "t";
