// Flagga
$flag-swe-height: 20rem;
$flag-swe-width: calc($flag-swe-height * 1.6);

// Pokeball
$pokeball-size: 20rem;

//$pb_line: calc($pokeball-size * 0.1);
$pb_line: 10px;
$pb_dott: calc($pokeball-size * 0.03);