@use 'base/' as *;
@use 'partials/' as *;

body {
    background-color: powderblue;
}

.flag_icon {
    width: 64px;
    height: 64px;
    
    position: relative;
    
    background-image: linear-gradient(to right,
        powderblue 0%,
        powderblue 20%,
        gray 20%,
        gray 35%,
        powderblue 35%,
        powderblue 100%
    );

    &::before {
        content: '';
        background-color: gray;

        position: absolute;
        margin-top: 6px;
        margin-left: 14px;

        width: $flag-icon-width;
        height: $flag-icon-height;
        border-radius: $flag-icon-radius;
    }
    &::after {
        content: '';
        background-color: gray;

        position: absolute;
        margin-top: 18px;
        margin-left: 36px;

        width: $flag-icon-width;
        height: $flag-icon-height;
        border-radius: $flag-icon-radius;
    }
}